*{
    font-family: roboto,'noto sans tc',helvitica;
    color: $maincolor ;
    
}
img{
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}
.pt8{padding-top: 8px;}
.pt16{padding-top: 16px;}
.pt24{padding-top: 24px;}
.pt20pa{padding-top: 20%;}
.pb8{padding-bottom: 8px;}
.pb16{padding-bottom: 16px;}
.pb24{padding-bottom: 24px;}
.pb32{padding-bottom: 32px;}
.pb10pa{padding-bottom: 10%;}
.pb20pa{padding-bottom: 20%;}
.pr8{padding-right: 8px;}
.pr16{padding-right: 16px;}
.pr24{padding-right: 24px;}
.pl16{padding-left: 16px;}
.pd16{padding: 16px;}

.fz16{font-size: 16px;}
.fz20{font-size: 20px;}
.fz24{font-size: 24px;}
.fz36{font-size: 36px;}
.fcmain{
  color: $maincolor;
}
.fcside{
  color: $sidecolor;
}

.mt25pa{margin-top: 25%;}
.mb10pa{margin-bottom: 10%;}
.mg16{margin: 16px;}
.mg32{margin: 32px;}

.font-b{font-weight: bold;}

.border-l{border-left: 1px #fff solid;}
.border-r{border-right: 1px #fff solid;}
.container{//大包包
  max-width:940px;
  margin: 0 auto;
}