
.home-banner{
    width: 100%;
    height: 496px;
    background: url(https://bit.ly/2OhbMHr) no-repeat center;
    background-size:100%;
    margin: 0 auto;
    
    .hotmenu{
        align-items: center;
        justify-content: center;
        display: flex;
        max-width: 100%;
        padding-top: 45%;
        
        .home-li{
            backdrop-filter: blur(10px);
            height: 256px;
            writing-mode: vertical-rl;
            max-width: 100%;
            
            .home-a{
                background:#3F5D45 ;
                opacity: .5;
                padding-left: 40%;
                padding-right: 40%;
            }
            a{
                text-align: center;
                text-decoration: none;
                display: block;
                color: #fff;
                &:hover{
                    background: #FFE180;
                    color: $maincolor;
                }
            }
    
    }
}
}

.index-content{
        
        background: $sidecolor;
        width: 100%;
        height: 420px;
        display: flex;
        position: relative;
        
        
    .index-content_img-why2do{//示意圖1
        background:url(https://bit.ly/2xPn7Eq)no-repeat center ;
        background-size:100%;
        width: 40%;
        height: 460px;
        position: absolute;
        top: -20px;
        left: 0%;
    }
    .index-content_img-why2eat{//示意圖2
        @extend .index-content_img-why2do;
        background: url(https://bit.ly/2zzAQS4)no-repeat center;
        right: 0%;
        left: auto;//取消why2do的間距
    }
    
    .index-content_copywrite-why2do{//段落一
        height: 280px;
        position: absolute;
        top: 15%;
        left: 50%;
        writing-mode: vertical-rl;
        line-height: 2;
    }
    
    .index-content_copywrite-img-why2do{
        width: 10%;
        position: absolute;
        left: 80%;
        top: -20px;
        
    }
    
    .index-content_copywrite-img-why2eat{
        @extend .index-content_copywrite-img-why2do;
        left: auto;//取消why2do的右邊間距
        right:80%;
    }
    .index-content_copywrite-why2eat{//段落二
        @extend .index-content_copywrite-why2do;
        left: 25%;
    }
}
.index-content_copywrite-row{
    display: none;//橫式文案，網頁版時隱藏
}
.image-row{
    background:url(https://bit.ly/2xPn7Eq)no-repeat center ;
    background-size:100%;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin: 0 auto;
    display: none;//橫式示意圖，網頁版時隱藏
}
.image-row-why2eat{
    @extend .image-row;
    background: url(https://bit.ly/2zzAQS4) no-repeat center;
    display: none;//橫式示意圖，網頁版時隱藏
}

.noreason{
    max-width: 10%;
    margin: 0 auto;
}
.noreason-rwd{
    max-width: 50%;
    margin: 0 auto;
    display: none;//橫式文案，網頁版時隱藏
}


//甜點欄———————————————————————————————————需再優化至mixin或base之類的


.dsrtbox-rwd{
    display: none;
}

@media screen and(max-width:768px) {
    .index-content{
        display: block;
        background:$sidecolor;
        position: relative;
        margin-top: initial;
        height: 280px;
        
        .index-content_img-why2do{
            background: none;
           
        }
        .index-content_img-why2eat{
            background: none;
            
        }
        .index-content_copywrite-img-why2do{
            display: none;
        }
        
        .index-content_copywrite-why2do{//段落一
            padding-top: 10%;
            writing-mode:initial;
            position:initial;
            margin: 0 auto;
            max-width: 50%;
            text-align: center;
            line-height: 2;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: initial;
            
        }
        
        
    }
    .index-content_copywrite-row{//橫式標語
        display: block;
        max-width: 50%;
        margin: 0 auto;
    
    }
    .image-row{//橫式形象圖，網頁版隱藏
        display: block;
        
    }
    .image-row-why2eat{//橫式形象圖，網頁版隱藏
        display: block;
        
    }
    
    
    .noreason{
        display: none;
    }
    .noreason-rwd{
        display: block;
    }
    .productbox{
        display: none;
    }
    .dsrtbox-rwd{
        display: block;

    }
}