/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: roboto,'noto sans tc',helvitica;
  color: #3F5D45;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt20pa {
  padding-top: 20%;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb10pa {
  padding-bottom: 10%;
}

.pb20pa {
  padding-bottom: 20%;
}

.pr8 {
  padding-right: 8px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.pl16 {
  padding-left: 16px;
}

.pd16 {
  padding: 16px;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz36 {
  font-size: 36px;
}

.fcmain {
  color: #3F5D45;
}

.fcside {
  color: #EAF0ED;
}

.mt25pa {
  margin-top: 25%;
}

.mb10pa {
  margin-bottom: 10%;
}

.mg16 {
  margin: 16px;
}

.mg32 {
  margin: 32px;
}

.font-b {
  font-weight: bold;
}

.border-l {
  border-left: 1px #fff solid;
}

.border-r {
  border-right: 1px #fff solid;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 924px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  position: relative;
}

.header .logo {
  width: 40%;
}

.hdrmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.hdrmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hdrmenu li {
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.hdrmenu a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #3F5D45;
  padding: 10px;
}

.hdrmenu a:hover {
  color: #fff;
  background: #3F5D45;
}

.the-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 20px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 100%;
  }
  .hdrmenu {
    padding: 0px;
  }
  .hdrmenu a {
    padding: 0px;
  }
  .hdrmenu ul {
    display: none;
  }
  .hdrmenu .cart-icon {
    display: block;
  }
  .the-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .the-burger a {
    text-decoration: none;
  }
  .the-burger a:hover {
    background: #3F5D45;
  }
}

.deliver-outframe {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 85%;
  margin: 0 auto;
}

.deliver-outframe .de-inframe {
  width: 412px;
  background: #3F5D45;
  padding: 0px 24px;
}

.deliver-outframe .de-inframe .de-titlebox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deliver-outframe .de-inframe .de-titlebox .de-title h2 {
  color: #EAF0ED;
}

.deliver-outframe .de-inframe .de-titlebox .title-img {
  width: 50%;
}

.deliver-outframe .de-inframe .de-titlebox .title-img img {
  -o-object-fit: contain;
     object-fit: contain;
  max-width: initial;
  vertical-align: initial;
}

.deliver-outframe .de-inframe .inputbox input {
  width: 186px;
  height: 56px;
  background: #EAF0ED;
  border: none;
  text-indent: 20px;
}

.deliver-outframe .de-inframe .inputbox .between-box, .deliver-outframe .de-inframe .inputbox .area-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.deliver-outframe .de-inframe .inputbox .area-box {
  -webkit-box-align: bottom;
      -ms-flex-align: bottom;
          align-items: bottom;
}

.deliver-outframe .de-inframe .inputbox .address-box input {
  width: 410px;
}

.deliver-outframe .de-inframe .inputbox .card-input input {
  width: 410px;
}

.deliver-outframe .de-inframe .inputbox .card-3number input {
  width: 100%;
}

.deliver-outframe .nxtbtn {
  background: #EAF0ED;
}

.deliver-outframe .nxtbtn .disapoint {
  display: none;
}

.deliver-outframe .nxtbtn a {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #3F5D45;
  text-align: center;
  line-height: 65px;
}

.deliver-outframe .nxtbtn a:hover {
  background: #FFE180;
  color: #FFE180;
}

.deliver-outframe .nxtbtn a:hover .disapoint {
  display: block;
  padding-right: 20%;
}

.succes-main {
  background: url(https://bit.ly/2P7GhNd) no-repeat center;
  background-size: 100%;
  max-width: 100%;
  height: 460px;
  position: relative;
}

.succes-main .title-frame {
  width: 220px;
  margin: 0 auto;
  position: absolute;
  top: 20%;
  left: 37.5%;
}

.succes-main .goaround {
  background: #FFE180;
  left: 33.3%;
  top: 55%;
  position: absolute;
  width: 300px;
}

.succes-main .goaround a {
  max-width: 100%;
  text-decoration: none;
  color: #3F5D45;
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 65px;
}

.succes-main .goaround:hover {
  background: #EAF0ED;
}

.shoptotal {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.shoptotal .list-outbox {
  width: 300px;
  border: 1px solid #EAF0ED;
}

.shoptotal .list-outbox .listtitle {
  font-weight: bold;
  text-align: center;
  line-height: 48px;
  background: #EAF0ED;
}

.shoptotal .list-outbox .listtitle h2 {
  color: #91b0a1;
}

.shoptotal .list-outbox .list-bg {
  max-width: 85%;
  max-height: 80%;
  margin: 0 auto;
  padding-bottom: 16px;
  background: #fff;
}

.shoptotal .list-outbox .list-content {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 16px 0px 8px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shoptotal .list-outbox .list-content p {
  color: #91b0a1;
}

.shoptotal .list-outbox .list-content .buyimg-muse, .shoptotal .list-outbox .list-content .buyimg-cake, .shoptotal .list-outbox .list-content .buyimg-waffle {
  width: 120px;
  height: 80px;
  -o-object-fit: cover;
     object-fit: cover;
  background: url(https://bit.ly/2QvsT63) no-repeat center;
  background-size: 100%;
}

.shoptotal .list-outbox .list-content .buyimg-cake {
  background: url(https://bit.ly/2zBDAxX) no-repeat center;
  background-size: 100%;
}

.shoptotal .list-outbox .list-content .buyimg-waffle {
  background: url(https://bit.ly/2zKOP7w) no-repeat center;
  background-size: 100%;
}

.invoice-select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.invoice-select .invoice-e-btn, .invoice-select .invoice-p-btn {
  width: 380px;
  background: #3F5D45;
  height: 55px;
  border: 1px solid #EAF0ED;
  text-decoration: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.invoice-select .invoice-e-btn a, .invoice-select .invoice-p-btn a {
  display: block;
  line-height: 55px;
}

.invoice-select .invoice-p-btn {
  background: #EAF0ED;
}

.invoice-select .invoice-p-btn:hover {
  background: #3F5D45;
  color: #EAF0ED;
}

@media screen and (max-width: 768px) {
  .de-inframe {
    margin: 0 auto;
  }
  .shoptotal {
    display: none;
  }
  .nxtbtn {
    margin: 32px 0px;
  }
}

.subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #3F5D45;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .sub-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.subscribe .sub-slogan .logo-light {
  width: 40px;
  padding-right: 20px;
}

.subscribe .sub-slogan p {
  font-size: 24px;
  color: #EAF0ED;
}

.subscribe .mailbox {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  background: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .mailbox img {
  padding: 5px;
}

.subscribe .mailbox input {
  border: none;
  background: #EAF0ED;
  width: 70%;
  height: 50%;
}

.subscribe .mailbox .arrow-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  width: 56px;
  background: #FFE180;
}

.footer {
  width: 100%;
  background: #EAF0ED;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-info {
  /*Logotype+info*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.footer .footer-info .footer-logo {
  width: 60%;
}

.footer .footer-info .footer-logo img {
  padding-top: 20px;
  padding-bottom: 30%;
  width: 40%;
}

.footer .footer-info .footer-logo ul {
  padding-bottom: 20px;
}

.footer .footer-info .footer-logo li {
  color: #3F5D45;
  font-size: 16px;
  line-height: 1.8;
}

.footer .footer-slogan {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding-top: 20px;
}

.footer .footer-slogan h2 {
  line-height: 1.8;
  color: #3F5D45;
  text-align: left;
  font-size: 24px;
}

.footer .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.footer .footer-copyright p {
  padding-right: 90px;
  font-size: 16px;
}

.footer .footer-copyright .footer-icon {
  width: 40%;
  margin: 0 auto;
}

.footer .footer-copyright .footer-icon img {
  width: 30px;
  padding-right: 10%;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .subscribe {
    padding-bottom: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe .sub-slogan {
    width: 60%;
  }
  .subscribe .mailbox {
    width: 60%;
  }
  .footer-info .footer-slogan {
    display: none;
  }
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=deliver-page.css.map */