@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: roboto,'noto sans tc',helvitica;
  color: #3F5D45;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

.pt8 {
  padding-top: 8px;
}

.pt16 {
  padding-top: 16px;
}

.pt24 {
  padding-top: 24px;
}

.pt20pa {
  padding-top: 20%;
}

.pb8 {
  padding-bottom: 8px;
}

.pb16 {
  padding-bottom: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.pb32 {
  padding-bottom: 32px;
}

.pb10pa {
  padding-bottom: 10%;
}

.pb20pa {
  padding-bottom: 20%;
}

.pr8 {
  padding-right: 8px;
}

.pr16 {
  padding-right: 16px;
}

.pr24 {
  padding-right: 24px;
}

.pl16 {
  padding-left: 16px;
}

.pd16 {
  padding: 16px;
}

.fz16 {
  font-size: 16px;
}

.fz20 {
  font-size: 20px;
}

.fz24 {
  font-size: 24px;
}

.fz36 {
  font-size: 36px;
}

.fcmain {
  color: #3F5D45;
}

.fcside {
  color: #EAF0ED;
}

.mt25pa {
  margin-top: 25%;
}

.mb10pa {
  margin-bottom: 10%;
}

.mg16 {
  margin: 16px;
}

.mg32 {
  margin: 32px;
}

.font-b {
  font-weight: bold;
}

.border-l {
  border-left: 1px #fff solid;
}

.border-r {
  border-right: 1px #fff solid;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 924px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  position: relative;
}

.header .logo {
  width: 40%;
}

.hdrmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

.hdrmenu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hdrmenu li {
  padding-left: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}

.hdrmenu a {
  font-size: 16px;
  display: block;
  text-decoration: none;
  color: #3F5D45;
  padding: 10px;
}

.hdrmenu a:hover {
  color: #fff;
  background: #3F5D45;
}

.the-burger {
  display: none;
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    padding: 20px 10px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo {
    width: 100%;
  }
  .hdrmenu {
    padding: 0px;
  }
  .hdrmenu a {
    padding: 0px;
  }
  .hdrmenu ul {
    display: none;
  }
  .hdrmenu .cart-icon {
    display: block;
  }
  .the-burger {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .the-burger a {
    text-decoration: none;
  }
  .the-burger a:hover {
    background: #3F5D45;
  }
}

.home-banner {
  width: 100%;
  height: 496px;
  background: url(https://bit.ly/2OhbMHr) no-repeat center;
  background-size: 100%;
  margin: 0 auto;
}

.home-banner .hotmenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 80%;
  padding-top: 45%;
  margin: 0 auto;
}

.home-banner .hotmenu .home-li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 256px;
  margin: 1px;
}

.home-banner .hotmenu .home-li a:hover {
  background: #FFE180;
  color: #3F5D45;
}

.home-a {
  text-align: center;
  height: 100%;
  width: 100%;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  background-color: rgba(63, 93, 69, 0.75);
  color: #fff;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  text-decoration: none;
  line-height: 256px;
}

.li-today {
  background: url(https://bit.ly/2Dwoxd7) no-repeat center;
  background-size: 100%;
}

.li-pop {
  background: url(https://bit.ly/2Dwoxd7) no-repeat center;
  background-size: 100%;
}

.li-new {
  background: url(https://bit.ly/2Dwoxd7) no-repeat center;
  background-size: 100%;
}

.index-content {
  background: #EAF0ED;
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.index-content .index-content_img-why2do, .index-content .index-content_img-why2eat {
  background: url(https://bit.ly/2xPn7Eq) no-repeat center;
  background-size: 100%;
  width: 40%;
  height: 460px;
  position: absolute;
  top: -20px;
  left: 0%;
}

.index-content .index-content_img-why2eat {
  background: url(https://bit.ly/2zzAQS4) no-repeat center;
  right: 0%;
  left: auto;
}

.index-content .index-content_copywrite-why2do, .index-content .index-content_copywrite-why2eat {
  height: 280px;
  position: absolute;
  top: 15%;
  left: 50%;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  line-height: 2;
}

.index-content .index-content_copywrite-img-why2do, .index-content .index-content_copywrite-img-why2eat {
  width: 10%;
  position: absolute;
  left: 80%;
  top: -20px;
}

.index-content .index-content_copywrite-img-why2eat {
  left: auto;
  right: 80%;
}

.index-content .index-content_copywrite-why2eat {
  left: 25%;
}

.index-content_copywrite-row {
  display: none;
}

.image-row, .image-row-why2eat {
  background: url(https://bit.ly/2xPn7Eq) no-repeat center;
  background-size: 100%;
  width: 100%;
  height: 350px;
  overflow: hidden;
  margin: 0 auto;
  display: none;
}

.image-row-why2eat {
  background: url(https://bit.ly/2zzAQS4) no-repeat center;
  display: none;
}

.noreason {
  max-width: 10%;
  margin: 0 auto;
}

.noreason-rwd {
  max-width: 50%;
  margin: 0 auto;
  display: none;
}

.dsrtbox-rwd {
  display: none;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .index-content {
    display: block;
    background: #EAF0ED;
    position: relative;
    margin-top: initial;
    height: 280px;
  }
  .index-content .index-content_img-why2do, .index-content .index-content_img-why2eat {
    background: none;
  }
  .index-content .index-content_img-why2eat {
    background: none;
  }
  .index-content .index-content_copywrite-img-why2do, .index-content .index-content_copywrite-img-why2eat {
    display: none;
  }
  .index-content .index-content_copywrite-why2do, .index-content .index-content_copywrite-why2eat {
    padding-top: 10%;
    -webkit-writing-mode: initial;
        -ms-writing-mode: initial;
            writing-mode: initial;
    position: initial;
    margin: 0 auto;
    max-width: 50%;
    text-align: center;
    line-height: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: initial;
  }
  .index-content_copywrite-row {
    display: block;
    max-width: 50%;
    margin: 0 auto;
  }
  .image-row, .image-row-why2eat {
    display: block;
  }
  .image-row-why2eat {
    display: block;
  }
  .noreason {
    display: none;
  }
  .noreason-rwd {
    display: block;
  }
  .productbox {
    display: none;
  }
  .dsrtbox-rwd {
    display: block;
  }
}

.productbox ul {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  /*斷行多行*/
}

.dsrtbox {
  width: 300px;
  margin: 0 auto;
  position: relative;
  /*定位精選tag與愛心tag*/
}

.dsrtbox .imgbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /*消除圖片與info中間的px*/
}

.dsrtbox .select {
  background: #3F5D45;
  width: 36px;
  height: 106px;
  position: absolute;
  left: 20px;
  top: 0px;
}

.dsrtbox .select p {
  font-display: auto;
  line-height: 20px;
  padding: 10px;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.dsrtbox .love {
  position: absolute;
  top: 19px;
  right: 22px;
}

.dsrtbox .dsrtinfo {
  width: 99%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #EAF0ED;
}

.dsrtbox .dsrtname {
  font-size: 20px;
  color: #3F5D45;
  line-height: 56px;
  width: 173px;
}

.dsrtbox .dsrtname p {
  text-align: center;
}

.dsrtbox .prize {
  font-size: 20px;
  border-left: 1px solid #EAF0ED;
  color: #3F5D45;
  line-height: 56px;
  width: 127px;
}

.dsrtbox .prize p {
  text-align: center;
}

.dsrtbox .cartlink {
  width: 100%;
  height: 65px;
  background: #EAF0ED;
  text-align: center;
  line-height: 65px;
}

.dsrtbox .cartlink a {
  text-decoration: none;
  color: #3F5D45;
  font-size: 24px;
  font-weight: bold;
  display: block;
}

.dsrtbox .cartlink a:hover {
  background: #3F5D45;
  color: #fff;
}

.subscribe {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #3F5D45;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe .sub-slogan {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40px 0px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40%;
}

.subscribe .sub-slogan .logo-light {
  width: 40px;
  padding-right: 20px;
}

.subscribe .sub-slogan p {
  font-size: 24px;
  color: #EAF0ED;
}

.subscribe .mailbox {
  width: 40%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 56px;
  background: #EAF0ED;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe .mailbox img {
  padding: 5px;
}

.subscribe .mailbox input {
  border: none;
  background: #EAF0ED;
  width: 70%;
  height: 50%;
}

.subscribe .mailbox .arrow-go {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 56px;
  width: 56px;
  background: #FFE180;
}

.footer {
  width: 100%;
  background: #EAF0ED;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .footer-info {
  /*Logotype+info*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.footer .footer-info .footer-logo {
  width: 60%;
}

.footer .footer-info .footer-logo img {
  padding-top: 20px;
  padding-bottom: 30%;
  width: 40%;
}

.footer .footer-info .footer-logo ul {
  padding-bottom: 20px;
}

.footer .footer-info .footer-logo li {
  color: #3F5D45;
  font-size: 16px;
  line-height: 1.8;
}

.footer .footer-slogan {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  padding-top: 20px;
}

.footer .footer-slogan h2 {
  line-height: 1.8;
  color: #3F5D45;
  text-align: left;
  font-size: 24px;
}

.footer .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 40px;
}

.footer .footer-copyright p {
  padding-right: 90px;
  font-size: 16px;
}

.footer .footer-copyright .footer-icon {
  width: 40%;
  margin: 0 auto;
}

.footer .footer-copyright .footer-icon img {
  width: 30px;
  padding-right: 10%;
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .subscribe {
    padding-bottom: 10%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe .sub-slogan {
    width: 60%;
  }
  .subscribe .mailbox {
    width: 60%;
  }
  .footer-info .footer-slogan {
    display: none;
  }
  .footer-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
/*# sourceMappingURL=index.css.map */